{% extends 'base.html'%}
{% load thumbnail %}
{% block breadcrumb %}
<li><a href="{% url "clients:client_list" %}">Clients</a></li>
<li>{{ client.name }}</li>
{% endblock breadcrumb %}
{% block content %}
{% url "clients:client_update" pk=client.pk as client_update %}
{% url "clients:contact_add" client=client.pk as contact_add %}
{% include "clients/modals/client_form.html" with modalID="updatecontactModal" form=client_edit_form form_url=client_update %}
{% include "clients/modals/contact_form.html"  with modalID="addcontactModal" form=add_contact_form form_url=contact_add %}
<div class="grid-x grid-padding-x">
    <div class="large-9 cell">
        <h1>{{ client.name|title}}</h1>
    </div>
    <div class="large-3 cell text-right"><a data-open="updatecontactModal" class="button button-edit">  Edit Company</a></div>
    <div class="large-12 cell">
        <div class="tab-header form_item">
            <div class="grid-x">
                <div class="large-12 cell"><i class="fa fa-folder-open" aria-hidden="true"></i> Company Details</div>
            </div>
        </div>
    </div>
    <div class="large-12 cell">
        <div class="tab-content">
            <div class="grid-x grid-padding-x">
                <div class="large-2 cell">
					<div class="client_detail_logo">
						{% if client.logo %}
						{% thumbnail client.logo "200x100" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
						{% else %}
						No logo
						<img src="/static/img/default.png" alt="" style="height:60px;">
						{% endif %}
					</div>
                </div>
                <div class="large-3 cell">
                    <h6>Name</h6>
                    <p>{{ client.name }}</p>
                    <h6>Full Address</h6>
                    <p>
                        {{ client.full_address|linebreaksbr }}
                    </p>
                </div>
                <div class="large-3 cell">
                    <h6>Main Phone</h6>
                    <p>{{ client.main_phone }}</p>
                    <h6>Main Email</h6>
                    <p>{{ client.main_email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="large-4 cell">
        <h1>Contacts</h1>
    </div>
    <div class="large-8 cell text-right">
        <a href="#" data-open="addcontactModal" class="button">Add Contact</a>
    </div>
    <div class="large-12 cell">
        <div class="tab-header form_item">
            <div class="grid-x">
                <div class="large-2 cell">Contact</div>
                <div class="large-4 cell">Email</div>
                <div class="large-3 cell">Phone</div>
                <div class="large-3 cell">Memos</div>
            </div>
        </div>
        <ul class="tab-section">
            {% for contact in client.contact_set.all %}
            <li>
                <a href="{% url "contacts:contact_detail" contact.client.pk contact.pk%}" class="tab-name grid-x">
                    <div class="large-2 cell">{{ contact.full_name }}</div>
                    <div class="large-4 cell">{{ contact.email }}</div>
                    <div class="large-3 cell">{{ contact.phone }}</div>
                    <div class="large-3 cell">{{ contact.memos.count }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
