{% extends 'base.html'%}
{% load thumbnail %}
{% block breadcrumb %}
<li>Clients</li>
{% endblock breadcrumb %}
{% block content %}
{% url "clients:client_add" as client_add %}
{% include "clients/modals/client_form.html" with modalID="addclientModal" form=client_add_form form_url=client_add %}
<div class="grid-x grid-padding-x">
        <div class="large-9 cell">
            <h1>Clients</h1>
        </div>
	<div class="large-3 cell text-right">
        <a data-open="addclientModal" class="button">Add client</a>
    </div>
	<div class="large-12 cell">
		<div class="tab-header form_item">
            <div class="grid-x">
			<div class="large-2 cell">Logo</div>
            <div class="large-4 cell"><a href="#"><i class="fa fa-sort faright" aria-hidden="true"></i> Client</a></div>
			<div class="large-3 cell">Full Address</div>
			<div class="large-3 cell">Main Phone Contact</div>
		</div>
        </div>
		<ul class="tab-section">
            {% if not client_list %}
                <li><p>No results found.</p></li>
            {% endif %}
			{% for client in client_list %}
			<li>
				<a href="/clients/{{ client.id }}" class="tab-name grid-x">
                    <div class="large-2 cell">
                    {% if client.logo %}
                        {% thumbnail client.logo "100x50" as im %}
                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% else %}
                    No logo
                    <img src="/static/img/default.png" alt="" style="height:60px;">
                    {% endif %}
                    </div>
					<div class="large-4 cell clients_top_margin">{{ client.name }}</div>
					<div class="large-3 cell clients_top_margin">{{ client.full_address|linebreaksbr }}</div>
					<div class="large-3 cell clients_top_margin">{{ client.main_phone }}</div>
				</a>
				<div class="clearfix"></div>
			</li>
			{% endfor%}
		</ul>
    </div>
</div>

{% endblock %}
