{% extends 'base.html'%}
{% load thumbnail %}
{% load humanize_custom %}
{% block breadcrumb %}
<li><a href="{% url "clients:client_list" %}">Clients</a></li>
<li><a href="{% url "clients:client_detail" contact.client.pk %}">{{ contact.client.name }}</a></li>
<li>{{ contact.full_name }}</li>
{% endblock breadcrumb %}
{% block content %}
{% url "clients:contact_update" client=contact.client.pk pk=contact.pk  as client_update%}
{% url "clients:contact_memo" client=contact.client.pk pk=contact.pk  as contact_memo %}
{% include "clients/modals/contact_form.html" with modalID="updatecontactModal" form=contact_edit_form form_url=client_update %}
{% include "clients/modals/contactmemo_form.html" with modalID="addMemoModal" semetyText="contact_memo" form=memo_form form_url=contact_memo %}
<!-- add contact form and contact form -->
<div class="grid-x grid-padding-x">
    <div class="large-9 cell">
        <h1>{{ contact.full_name|title}}</h1>
    </div>
    <div class="large-3 cell text-right">
        <a data-open="updatecontactModal" class="button button-edit">Edit Contact</a>

    </div>
    <div class="large-12 cell">
        <div class="tab-header form_item">
            <div class="grid-x">
                <div class="large-1 cell"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
                <div class="large-11 cell"><a href="">Contact Details</a></div>
            </div>
        </div>
    </div>
    <div class="large-12 cell">
        <div class="tab-content">
            <br>
            <div class="large-3 cell">
				<div class="grid-x large-12 cell">
					<div class="large-4">
						<h6>Name</h6>
						<p>{{ contact.full_name }}</p>
					</div>
					<div class="large-4">
						<h6>Phone</h6>
						<p>{{ contact.phone }}</p>
					</div>
					<div class="large-4">
						<h6>Email</h6>
						<p>{{ contact.email}}</p>
					</div>
				</div>
            </div>
        </div>

		<div class="large-12 cell text-right">
			<a href="#" data-open="addMemoModal" class="button">Add Memo</a>
        </div>

        <div class="grid-x">
        <div class="large-12 cell">
        <div class="tab-header form_item">
			<div class="grid-x">
				<div class="large-4 cell">Name</div>
				<div class="large-6 cell">Description</div>
				<div class="large-2 cell">Date Added</div>
			</div>
        </div>
        <ul class="tab-section">
            {% if not contact.contactmemo_set.all %}
                <li class="text-center no-results">
                    No results found
                </li>
            {% endif %}
            {% for memo in contact.contactmemo_set.all %}
               {% include "clients/modals/contactmemo_form.html" with memo=memo semetyText=memo.revealSemetyText modalID=memo.modal form=memo.form form_url=memo.get_update_url %}
            {% endfor %}
            {% for memo in contact.contactmemo_set.all %}

            <li>
                <a data-open="{{ memo.modal }}" class="tab-name grid-x">
                    <div class="large-4 cell">{{ memo.title }}</div>
                    <div class="large-6 cell">{{ memo.plain_text|truncatechars:40 }}</div>
                    <div class="large-2 cell">{{ memo.datetime|naturaltime_recent_only }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    <br/>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="/static/js/semety_text.js"></script>
    <script>
    semetyText("#contact_memo");
    {% for memo in contact.contactmemo_set.all %}
        semetyText("#{{ memo.revealSemetyText }}")
    {% endfor %}
    </script>
{% endblock js %}
