{% extends 'base.html'%}
{% block content %}
<div class="grid-x">
<div class="large-6 cell">
<h1>Add Memo</h1>
<form method="post" action="" enctype="multipart/form-data">
 {% csrf_token %}
            <label for="">{{ form.title.label }}</label>
            <p>{{ form.title }}</p>
            <label for="">{{ form.text.label }}</label>
            {% include "workspace/includes/wysiwyg.html" with value=form.text.value semetyText="client_memo" %}
            <input type="submit" name="" class="button" value="Save">
</form>
</div>
</div>
{% endblock %}
{% block js %}
    <script src="/static/js/semety_text.js"></script>
    <script>
        semetyText("#client_memo");
    </script>
{% endblock js %}
