{% extends 'base.html'%}
{% block content %}

<div class="large-9 cell">
<h1>Add Company</h1>
<form method="post" action="" enctype="multipart/form-data">
 {% csrf_token %}
	{{ form.as_p }}
	<input type="submit" name="" class="button" value="Save">

</form>
{% endblock %}
