{% extends 'base.html' %}

{% block anon %}
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
	.white-login {
	  width:100%;
	  float:left;
	  padding: 20px 80px;
	  border-radius: 5px;
	}

	h3 {
	  color:#000 !important;
	}
	h4 {
		font-weight: 300;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.login-button {
	  width:100%;

	  padding:20px;
	  color: #FFF;
	  border-radius: 3px;
	  margin-top: 20px;
	}

	a.btn-connect-option {
		display: block;
		font-size: 20px;
		font-weight: 700;
		background-color: #2d72d9;
		color: #fff;
		width: 100%;
		height: 60px;
		line-height: 28px;
		text-align: center;
		padding: 15px 15px 15px 60px;
		border-radius: 3px;

		margin-top: 23px;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
	}
	a.btn-connect-option:hover {
		opacity: 0.9;
	}
	a.btn-connect-option.google-plus {
		background: #dc4d28 url(/static/img/btn-connect-option.png) no-repeat 0 -60px;
	}
	a.btn-connect-option.facebook {
		background: #3b5998 url(/static/img/btn-connect-option.png) no-repeat;
		margin-right: 20px;
	}
	.semety-blue {
	  background: #3161a5 !important;
	}
	.loginlogo {
		max-width: 150px;
		margin-left: 10px;
		margin-top: 20px;
		width: 200px;
	}
	.buttoncustom{
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		vertical-align: middle;
		border: 1px solid transparent;
		border-radius: 0;
		padding: 0.85em 2em;
		margin: 0 0 1rem 0;
		font-size: 0.9rem;
		background-color: #3161a5 !important;
		color: #FFF;
		border-radius: 2px;
	}
	.buttoncustom:hover {
		background-color: #1c4c91 !important;
		color: #FFF !important;
	}
	.forgotpassword{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		margin-top: 10px;
		margin-bottom: 30px;

	}
	.forgotpassword a{
		color: #3161a5 !important;
	}
	.forgotpassword a:hover {
		text-decoration: underline;
	}
	.borderleft {
		border-left: 1px solid #f5f5f5;
	}
	hr {
		border-color: #f5f5f5 !IMPORTANT;
	}
	.loginfield {
		margin-top: 30px;
		height: 57px;
	}
	.manually_login {
		padding-right: 20px;
	}
</style>
<div class="grid-x">
	<div class="white-login">
	<hr/>
	<div class="grid-x">
		<div class="large-6 cell manually_login">
		<form action="/login/" method="post">
		<h4>Login in with your email address</h4>
		{% csrf_token %}
        {{ form.as_p }}
<!--    <input id="id_username" class="loginfield" maxlength="254" name="username" type="text" placeholder="Enter your username...">
        <input id="id_password"  class="loginfield" name="password" type="password" placeholder="Your password...">                     -->
			<input type="submit" class="buttoncustom" value="Log in" name="">
		</form>
		<div class="forgotpassword">
			Did you <a href="#">forget your password</a> or do you need to <a href="/register/">register</a>?
		</div>
		</div>
		 <div class="large-6 cell borderleft">
		   <ul>
		   {% if user and not user.is_anonymous %}
			 <li>
			   <a>Hello {{ user.get_full_name|default:user.username }}!</a>
			 </li>
			 <li>

			 </li>
		   {% else %}
			   <div class="socialmedialogin">
			   <h4>Connect with a social network profile</h4>
			   <a class="btn-connect-option google-plus badge-gplus-connect-btn" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
			   <a class="btn-connect-option facebook badge-facebook-connect" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
			   </div>
		   {% endif %}
		   </ul>
		 </div>
	 </div>
</div>
</div>
{% endblock %}
