{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
You are now part of the team, congrats! <a href="/">home</a>
{% else %}
<p>you will need to <a href="/login">login</a> or <a href="/register">register</a> to accept this team invite.</p>
{% endif %}
{% endblock%}
