{% extends 'base.html' %}
{% block breadcrumb %}
    <li>Network</li>
{% endblock breadcrumb %}
{% block content %}
<div class="grid-x grid-padding-x">
<div class="large-9 cell">
		<h1>Network</h1>
		</div>

	<div class="large-3 cell text-right"><a data-open="addclientModal" class="button">Add User</a></div>
    <div class="large-12 cell">
        <div class="tab-header form_item">
            <div class="grid-x">
            <div class="large-1 cell tab-1"><i class="fa fa-users nofa2" aria-hidden="true"></i> </div>
            <div class="large-4 cell nopad">Member list</div>
            <div class="large-5 cell nopad">Email</div>
            <div class="large-2 cell nopad"></div>
        </div>
        </div>
        <ul class="tab-section">
            {% for person in team.teammate_set.all %}
                <li>
                    <a href="{% url "team:team_mate_detail" person.pk %}" class="tab-name grid-x">
                        <div class="large-1 cell tab-1"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="large-4 cell">{{ person.user.username }}</div>
                        <div class="large-5 cell">{{ person.user.email }}</div>
                        <div class="large-2 cell">{% if person.admin %}ADMIN{% endif %}</div>
                    </a>
                </li>
            {% endfor %}
            {% for request in invites %}
                <li>
                    <div class="large-1 cell tab-1"><i class="fa fa-question" aria-hidden="true"></i></div>
                    <div class="large-4 cell">Awaiting Reponse</div>
                    <div class="large-5 cell">{{ request.invite_to }}</div>
                    <div class="large-2 cell">{% if is_user_admin %}<a onclick="CancelRequest('{{ request.id }}')" class="delete-cross"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</div>
                </li>
            {% endfor %}
            {% if is_user_admin %}
                <li class="noevenbg">
                    <form action="/invite/" method="post">
                        {% csrf_token %}
                        <div class="large-1 cell tab-1">
                            <i class="fa fa-plus-square-o invitememberfa" aria-hidden="true"></i>
                        </div>
                        <div class="large-5 cell">
                            <label>Invite member by e-mail:</label>
                            <input type="email" name="invite_to" placeholder="Enter Email..." required>
                        </div>
                        <div class="large-4 cell">
                            <div class="switch">
                                <label>Will this member be able to edit?</label>
                                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
                                <label class="switch-paddle adminswitch" for="exampleSwitch">
                                    <span class="show-for-sr">Download Kittens</span>
                                </label>
                            </div>
                        </div>
                        <div class="large-2 cell">
                            <input type="submit" value="Invite Member" class="buttoncustom" name="">
                        </div>
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
