{% extends "base.html" %}
{% block breadcrumb %}
    <li><a href="{% url "teams:home" %}">Network</a></li>
    <li>{{ teammate.user }}</li>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <h3>{{ teammate.user.email}}</h3>
    (admin? {{ teammate.admin}})
</div>
{% endblock content %}
