{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}
{% block breadcrumb %}

{% endblock breadcrumb %}
{% block content %}
 <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
                            <div class="grid-x">
                <div class="large-12 cell">
            <h1>Network</h1>
            </div>
        </div>
            <div class="tab-header form_item">
                <div class="grid-x">
                    <div class="large-4 cell">Full Name</div>
                    <div class="large-4 cell">Email</div>
                    <div class="large-2 cell">Admin</div>
                    <div class="large-2 cell">Access</div>
                </div>
            </div>
            <div class="tab-section">
                {% for companyuser in company.companyuser_set.all %}
                <li>
                    <a data-open="{{ companyuser.reveal }}" class="tab-name grid-x">
                        <div class="large-4 cell"> {{ companyuser.user.get_full_name }}</div>
                        <div class="large-4 cell">{{ companyuser.user.email }}</div>
                        <div class="large-2 cell">{{ companyuser.admin }}</div>
                        <div class="large-2 cell">View</div>
                    </a>
                </li>
                {% endfor %}
            </div>
        </div>

            <div class="large-12 cell">
                            <br>
                <div class="grid-x">
                <div class="large-8 cell">
                    <h1>Pending Invites</h1>
                </div>
                <div class="large-4 cell text-right">
                    <a href="#" class="button fill">Invite User</a>
                </div>
            </div>
            <div class="tab-header form_item">
                <div class="grid-x">
                    <div class="large-8 cell">Invite To</div>
                    <div class="large-2 cell">Status</div>
                     <div class="large-2 cell">Date Invited</div>
                </div>
            </div>
            <div class="tab-section">
                {% if not company.invite_set.all %}
               <li>
                    <div class="large-12 cell text-center no-results">No invites pending.</div>
                </li>
                {% endif %}
                {% for invite in company.invite_set.all %}
                <div class="large-12 cell task">
                    <a href="" class="grid-x black">
                        <div class="large-8 cell"> {{ invite.invite_to }}</div>
                        <div class="large-2 cell">Pending</div>
                        <div class="large-2 cell">{{ invite.datetime|naturaltime }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% for companyuser in company.companyuser_set.all %}
    {% include "core/modals/companyuser_form.html" with modalID=companyuser.reveal form=companyuser.form form_url=companyuser.get_update_url companyuser=companyuser %}
{% endfor %}
{% endblock content %}
