{% extends 'base.html' %}
{% load thumbnail %}
{% block breadcrumb %}
    <li>Profile</li>
{% endblock breadcrumb %}
{% block content %}
{% url "network:profile_update" as form_url %}

{% include "site/includes/profile_form.html" with modalID="editProfileModal" form=form form_url=form_url %}
<div class="grid-x grid-padding-x">
<div class="large-9 cell">
		<h1>Profile Settings</h1>
	</div>
		<div class="large-3 cell text-right"><a data-open="editProfileModal" class="button button-edit">Edit Profile</a></div>

		<div class="large-12 cell">
		<div class="tab-header form_item">
            <div class="grid-x">
			<div class="large-12 cell">
				<i class="fa fas fa-cog"></i> Profile settings
			</div>
        </div>
		</div>
		<div class="tab-content nopad">
		<div class="settings">
            <div class="grid-x">
			<div class="large-3 cell">
				<center><br/>
					{% csrf_token %}

                    {% if user.profile_picture %}
                        {% thumbnail user.profile_picture "200x200" crop="center" as im %}
                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="profile_picture">
                        {% endthumbnail %}
                    {% else %}
                    <img src="/static/img/default.png" class="no-logo" alt="no logo">
					<p>You have no logo</p>
                    {% endif %}
				</center>
			</div>
			<div class="large-5 cell"><br/><br/>
				<div class="profilesettings">
					<div class="large-12 cell">
						<div class="large-12 cell">
							<h5>Your information</h5>
						</div>
						<div class="grid-x">
							<div class="large-6 cell">
								Full Name:
							</div>
							<div class="large-6 cell">
								{{ user.get_full_name|title }}
							</div>
                            <div class="large-6 cell">
                                Email
                            </div>
                            <div class="large-6 cell">
                                {{ user.email }}
                            </div>
							<div class="large-6 cell">
								Password:
							</div>
							<div class="large-6 cell">
								<a href="#">Change password</a>
							</div>
							<div class="large-6 cell">
								Subscription:
							</div>
							<div class="large-6 cell">
								BETA (<a href="#">change</a>)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="large-4 cell"><br/><br/>
				<div class="large-12 cell"><br/>
					<h5>Discover more</h5>
					<a href="#">F.A.Q. About using Semety</a><br/>
					<a href="#">How does my subscription work?</a><br/>
					<a href="#">Semety network tutorial</a><br/>
					<a href="#">Terms and conditions</a><br/>
				</div>
			</div>
		</div>
		</div>
	</div>
</form>
{% endblock%}
