<div class="reveal" id="{{ modalID }}" data-reveal>
    <div class="moduleform">
        <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Message</h1>
        <form action="{{ form_url }}" method="post">
        {% for field in form %}
            {% if field.name == "text" %}
                <label for="">{{ field.label }}</label>
                {% include "workspace/includes/wysiwyg.html" with value=field.value semetyText=semetyText %}
            {% endif %}

        {% endfor %}
        {% csrf_token %}
        <input class="buttoncustom" type="submit" value="Save">
        {% if reply.get_delete_url %}
            <a class="button button-edit float-right" href="{{ reply.get_delete_url }}"><i class="fa fa-trash" aria-hidden="true"></i> Delete Message</a>
        {% endif %}
       </form>
         <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>

    </div>
</div>
