
<div class="reveal" id="{{ modalID }}" data-reveal>
    <div class="moduleform">
        <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Tab </h1>
        <form action="{{ form_url }}" id="tabform" method="post">
                {% csrf_token %}
                {{ form.name.label_tag }}
                <p>{{ form.name }}</p>

                {{ form.icon.label_tag }}
                <h1 id="icon_display"><i class=""></i></h1>
                <p>{{ form.icon }}</p>

                 <input class="buttoncustom" id="addtab" type="submit" value="Save" name="">

            {% if form.instance.pk %}
			<a class="button button-edit float-right" href="{% url "workspace:tab_delete" tab.slug %}"><i class="fa fa-trash" aria-hidden="true"></i> Delete tab</a>
            {% endif %}

        </form>
         <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
</div>
