<style>

{% for status in request.user.status %}
    .radio-buttons input[type="radio"]:checked+label.status{{ status.pk }}:before {
        content: '\2714';
        text-indent: .9em;
        color: #FFF !important;
        background-color: {{ status.color }} !important;
    }
{% endfor %}

</style>
<div class="reveal" id="{{ modalID }}" data-reveal>
    <div class="moduleform">
        <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Thread</h1>
        <form action="{{ form_url }}" method="post">

        {% for field in form %}

        {% if field.name == "text" %}
            <label for="">{{ field.label }}</label>
            {% include "workspace/includes/wysiwyg.html" with value=field.value semetyText="threadbox" %}
        {% elif field.name == "status" %}
            <label for="">{{ field.label }}</label>
            <fieldset class="radio-buttons">
                {% for choice in form.status.field.choices %}
                        <input type="radio" name="status" id="status{{choice.0}}" value="{{choice.0}}"
                          {% ifequal  field.value choice.0 %}
                             checked="checked"
                          {% endifequal %}/>
                        <label class="status{{choice.0}}" for="status{{ choice.0 }}">{{choice.1}}</label>

                {% endfor %}
            </fieldset>
            <p></p>
        {% else %}
        <p>
            <label for="">{{ field.label }}</label>
            {{ field }}
        </p>
        {% endif %}

        {% endfor %}
        {% csrf_token %}
        <input class="buttoncustom" type="submit" value="Save">
        {% if form.instance.pk %}
            <a class="button button-edit float-right" href="{{ form_delete_url }}"><i class="fa fa-trash" aria-hidden="true"></i> Delete Message</a>
        {% endif %}
        </form>
         <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
</div>
