<!-- probably not needed if create a "thread_form" and pass it an instance {{ form.as_p }} ect.. -->
<div class="reveal" id="threadeditModal" data-reveal>
    <h3 class="modalintro">Edit: {{ thread.title }}</h3>
    <form action="thread/add/" id="threadform" method="post">
         {% csrf_token %}
    <p><label for="id_status">Assign the thread status:</label>
    <fieldset class="radio-buttons">

    <input type="radio" value="1" name="status" class="radio" id="radio1">
    <label for="radio1">Active</label>

    <input type="radio" value="2" name="status" class="radio" id="radio2">
    <label for="radio2" class="pendingrad">Pending</label>

    <input type="radio" value="3" name="status" class="radio closedrad" id="radio3">
    <label for="radio3">Closed</label>

    </fieldset><br/>
    <p><label for="id_title">Choose a title:</label> <input id="id_title" maxlength="200" name="title" type="text" placeholder="..." required /></p>
    <p><label for="id_text">Your text:</label><textarea class="wysiwyg" id="textarea-edit" cols="40" id="id_text" name="text" rows="10" placeholder="..."></textarea></p>
    <p><label for="id_assigned"><b class="left">Assigned members:<b class="right"><a href="/network/" target="_blank">Invite members?</a></label>
     <select id="id_assigned" name="assigned">
    <option value="" selected="selected">---------</option>
    {% for person in thread.members %}
        <option value="{{ person.user.id }}">{{ person.user.username }}</option>
    {% endfor %}
    </select></p></p>
    <div class="left">
        <a class="buttoncustom" onclick="saveThread()">Save</a>
    </div>
    <div class="right">
    <a class="buttoncustom greybg" onclick="deleteThread()"><i class="fa fa-trash" aria-hidden="true"></i> Delete thread</a>
    </div>
    </form>
     <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
</div>


