{% load thumbnail %}
{% load humanize %}
{% if thread.user.profile_picture %}
{% thumbnail thread.user.profile_picture "100x100" crop="center" as im %}
	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="profile_picture">
{% endthumbnail %}
{% else %}
	<img src="/static/img/default.png" class="profile_picture" alt="">
{% endif %}

<h5>{{ thread.user.get_full_name|title }}</h5>
