<div class="large-12 cell">
    <div class="grid-x">
        <div class="large-2 cell text-center">
                {% include "workspace/includes/message_profile.html" with thread=thread %}
        </div>
        <div class="large-10 cell">
            <div class="message-container">
                {% include "workspace/includes/message_content.html" with thread=thread arrow="right" %}
            </div>
        </div>
    </div>
</div>
