<div class="large-12 cell">
    <div class="grid-x">
        <div class="large-10 cell">
            <div class="message-container left">
                <div data-open="{{ thread.reveal }}" class="message-reveal">
                    {% include "workspace/includes/message_content.html" with thread=thread arrow="left" %}
                    {% include "workspace/modals/reply_form.html" with semetyText=thread.revealSemetyText modalID=thread.reveal form=thread.form thread=thread form_url=thread.message_update_url %}
                </div>
            </div>
        </div>
        <div class="large-2 cell text-center">
            {% include "workspace/includes/message_profile.html" with thread=thread %}
        </div>
    </div>
</div>
