{% load humanize_custom %}
<div class="message_date">
    <span>{{ thread.datetime|naturaltime_recent_only }}</span>
</div>
<div class="message {{ arrow }}">
<p>{{ thread.text|safe }}</p>
</div>
{% if thread.files %}
<ul class="message_file grid-x">
{% for file in thread.files %}
    <li class="large-6 cell"><a href="{{ file.file.url }}" target="_blank">{{ file.file }}</a></li>
{% endfor %}
</ul>
{% endif %}
