{% if order_by == filter_given %}
    <a href="?order_by={{ filter_given }}&order={% if order == "ascending" %}descending{% else %}ascending{% endif %}">
        {% if order == "ascending" %}
        <i class="fas fa-caret-down" aria-hidden="true"></i>
        {% else %}
        <i class="fas fa-caret-up" aria-hidden="true"></i>
        {% endif %}
        {{ filter_name }}
    </a>
{% else %}
    <a href="?order_by={{ filter_given }}">
        <i class="fa fa-sort" aria-hidden="true"></i>
        {{ filter_name }}
    </a>
{% endif %}
