{% load url_replace %}
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                {% if reply_list.has_previous %}
                <li class="pagination-previous"> <a href="?{% url_replace page=reply_list.previous_page_number %}" aria-label="Next page">Previous</a></li>
                {% else %}
                <li class="pagination-previous previous-left disabled">Previous</li>
                {% endif %}
                {% for item in reply_list.paginator.page_range %}
                {% if item == reply_list.number  %}
                <li class="current"><span class="show-for-sr">You're on page</span>{{ item }}</li>
                {% else %}
                <li><a href="?{% url_replace page=item %}" aria-label="Page {{ item }}">{{ item }}</a></li>
                {% endif %}
                {% endfor %}
                {% if reply_list.has_next %}
                <li style="nobackground"><a href="?{% url_replace page=reply_list.next_page_number %}" aria-label="Next page">Next</a></li>
                {% else %}
                <li class="pagination-next disabled">Next</a></li>
                {% endif %}
            </ul>
