            <br/>
			<form action="reply/" method="post">
            {% csrf_token %}
            {% include "workspace/includes/wysiwyg.html" %}
            <center> <input type="submit" class="buttoncustom margintop" value="Reply"> </center>
            <br>
            </form>

