

<div class="tool-tabs replytextarea" id="{{ semetyText }}">

    <input type="hidden" id="id_text" name="text" value="{% if value %}{{value}}{% endif %}">
    <ul class="tool-tabs-ul">
        <li class="relative">
            <a href="#" class="dropdown-tool">
                Headings <i class="dropdown-caret"></i>
            </a>
            <ul class="dropdown-options">
                <li><a href="#" id="h1"><h1>Heading 1</h1></a></li>
                <li><a href="#" id="h2"><h2>Heading 2</h2></a></li>
                <li><a href="#" id="h3"><h3>Heading 3</h3></a></li>
                <li><a href="#" id="h4"><h4>Heading 4</h4></a></li>
                <li><a href="#" id="h5"><h5>Heading 5</h5></a></li>
                <li><a href="#" id="h6"><h6>Heading 6</h6></a></li>
            </ul>
        </li>
        <li><a href="#" id="bold"><i class="fa fa-bold"></i></a></li>
        <li><a href="#" id="italic"><i class="fa fa-italic"></i></a></li>
        <li><a href="#" id="underline"><i class="fa fa-underline"></i></a></li>
        <li><a href="#" id="orderedlist"><i class="fa fa-list-ol"></i></a></li>
        <li><a href="#" id="unorderedlist"><i class="fa fa-list"></i></a></li>
        <li><a href="#" id="link"><i class="fa fa-link"></i></a></li>
        <li class="float-right"><a href="#" id="full-screen" class="full-screen"><i class="fas fa-expand-arrows-alt"></i></a></li>
    </ul>
    <div class="add-link-overlay hidden">
    <div class="add-link">
    <button class="close-button" aria-label="Close modal" type="button">
            <span aria-hidden="true">×</span>
    </button>
        <h4>Insert Link</h4>
        <label for="">Text</label>
        <input type="text" id="link-text">
        <label for="">URL</label>
        <input type="url" id="link-url">
        <a href="#" class="button blue" id="add-link">Add Link</a>
    </div>
</div>
    <div id="text-area-display" class="editable" contenteditable></div>
</div>
