  <div class="reveal" id="logoutModal" data-reveal>
      <center class="moduleform"><br/>
        <h3 class="modalintro">Are you sure you want to log out?</h3>
        <br/>
        <a href="/logout/?next=/" class="button button-edit">Yes, log me out</a>
        <a href="/logout/?next=/" class="button buttoncustom">No, stay on the site</a>
      </center>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
