    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="roughly 160 characters">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Semety">
    <meta name="keywords" content="">

    <!-- Needs research here for Bing -->

    <!-- Don't forget robots.txt while you're at it -->

    <!-- Google site vertification -->
    <!-- Microsoft site vertification -->

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Semety - Workspace & team collaboration simplified" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="Semety - Workspace & team collaboration simplified" />
