{% load thumbnail %}
{% load humanize_custom %}
    <ul class="notification_list">
        {% if not notification_list %}
        <li class="no-notifications">
            No notifications.
        </li>
        {% endif %}
        {% for notification in notification_list %}
        <li>
            <a href="{{ notification.get_absolute_url }}"  class="grid-x {% if not notification.read %}unread{% endif %}">
                <div class="large-2 cell">
                    {% if notification.model_instance.user.profile_picture %}
                    {% thumbnail notification.model_instance.user.profile_picture "50x50" crop="center" as im %}
						<center>
							<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						</center>
                    {% endthumbnail %}
                    {% else %}
						<center>
							<img src="/static/img/default.png" alt="" style="height:60px;">
						</center>
                    {% endif %}
                </div>
                <div class="large-10 cell">
                    <span>{{ notification|safe }}</span>
                    <small><i class="{{ notification.icon }}"></i>{{ notification.datetime|naturaltime_recent_only }}</small>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

