{% load navigation %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% include "base/_meta.html" %}
        <title>Semety - Workspace & team collaboration simplified</title>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        {% if user.is_authenticated %}
        <link rel="stylesheet" href="/static/css/app.css" />
        {% include "base/css/status_types.html" %}
        {% else %}
        <link rel="stylesheet" href="/static/css/anon.css" />
        {% endif %}
        <link rel="stylesheet" href="/static/css/fontawesome/fontawesome-all.css">
        <link rel="icon" type="image/png" href="/static/img/logo-icon.png" />
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include "modals/logout.html" %}
            <!--<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></i></a></li> -->
            <!--<li><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i></a></li>-->
            <ul class="nav">
                <li><a href="/workspace" class="logo"><img alt="logo" src="/static/img/logo_without_bg.png" /></a></li>
                <li class="menu-title">Navigation</li>
                <li><a href="{% url 'workspace:tab_list' %}" class="{% active 'workspace:tab_list' %}"><i class="fa fa-briefcase" aria-hidden="true"></i> Workspace</a></li>
                <li><a href="{% url 'clients:client_list' %}" class="{% active 'clients:client_list' %}"><i class="fa fa-folder-open" aria-hidden="true"></i> Clients</a></li>
                <li><a href="{% url 'network:company_detail' %}" class="{% active 'network:company_detail' %}"><i class="fa fa-users" aria-hidden="true"></i> Network</a></li>
                <div class="bottom">
                    <li class="menu-title">Account</li>
                    <li><a href="{% url 'network:profile' %}" class="{% active 'network:profile' %}"><i class="fa fas fa-cog"></i> Settings</a></li>
                    <li><a data-open="logoutModal"><i class="fa fa-times-circle" aria-hidden="true"></i> Logout</a></li>
                </div>
            </ul>
            <div class="wrapper">
            <div class="topbar">
                <div class="grid-x grid-padding-x">
                    <div class="large-8 cell left">
                        <ul class="breadcrumbs">
                            <!--<li><a href="#">Dashboard</a></li>-->
                            {% block breadcrumb %}{% endblock breadcrumb %}
                        </ul>
                    </div>
                    <div class="large-4 cell text-right">
                            <a href="" id="notification-button">
                                Notifications <i class="far fa-bell {% if request.user.unread_notifications %}notification-badge{% endif %}"></i>
                                <!-- <span class="badge secondary">0</span> -->

                            </a>
                        <div class="notifications" id="notifications">
						<div class="grid-x top-section">
							<div class="large-6 cell"><span>Notifications</span></div>
							<div class="large-6 cell text-right"><a href="{% url 'notifications:read-all' %}" class="mark-as-read">Mark all as read</a></div>
						</div>
                            {% include "base/_notifications.html" with notification_list=request.user.notifications %}

                  <a href="{% url 'notifications:notification_list' %}" class="see-all">See All</a>
</div>
                    </div>
                </div>
            </div>

            <div class="wrapper-content">
                {% block content %}{% endblock %}
            </div>
        {% else %}
        <div class="wrapper">
		<div class="header">
			<a href="/"><img class="landing-logo" alt="Semety logo" src="/static/img/icon-rev.png"></a>
			<span class="nav-mobile nav-mobile-open" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
			<ul class="nav-menu" id="side-bar-nav">
				<a href="javascript:void(0)" class="closebtn nav-mobile" onclick="closeNav()">&times;</a>
				<li><a href="/explore/">Explore Us</a></li>
				<li><a href="/login/">Login</a></li>
				<li><a href="/register/" class="">Register</a></li>
			</ul>
		</div>
        {% block anon %}{% endblock %}
		<div class="footer">
		<div class="grid-x">
			<div class="large-8 cell">
				<ul class="footer-menu grid-x">
					<li><a href="/about/">About</a></li>
					<li><a href="/legal/">Legal</a></li>
					<li><a href="/contact/">Contact</a></li>
					<li><a href="/explore/">Explore</a></li>
				</ul>
			</div>
			<div class="large-4 cell">
				<li class="footer-menu-text">Copyright © 2018, Semety</li>
			</div>
		</div>
		</div>
		<script>
		function openNav() {
			document.getElementById("side-bar-nav").style.width = "100%";
		}

		function closeNav() {
			document.getElementById("side-bar-nav").style.width = "0";
		}
		</script>
        {% endif %}
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/what-input.js"></script>
        <script src="/static/js/vendor/foundation.js"></script>
        {% if user.is_authenticated %}
            <script src="/static/js/app.js"></script>
        {% endif %}
        {% block js %}{% endblock %}
    </body>
</html>
