{% extends "base.html" %}
{% load thumbnail %}
{% load humanize_custom %}
{% block content %}
<div class="grid-x">
    <div class="large-9 cell">
        <h1>Notifications</h1>
    </div>
    <div class="large-3 cell text-right"><a href="{% url 'notifications:notification_list' %}" class="button button-edit">Mark all as read</a></div>
</div>
<div class="large-12 cell">
    <div class="large-12 cell">
        <div class="tab-header form_item notification_list_header">
            <div class="grid-x">
                <div class="large-12 cell"><i class="fa fa-bell"></i> Notifications</div>
            </div>
        </div>
    </div>
    <div class="notification_list_container">
        {% include "base/_notifications.html" with notification_list=notification_list %}
    </div>
</div>
{% endblock content %}
