{% extends "base.html" %}
{% load humanize %}
{% load humanize_custom %}
{% block breadcrumb %}
<li><a href="{% url "workspace:tab_list" %}">Workspace</a></li>
<li>Manage Tabs</li>
{% endblock breadcrumb %}
{% block content %}
    {% url "workspace:tab_create" as tab_create %}
    {% include "workspace/modals/tab_form.html" with modalID="tabformModal" form=tab_form form_url=tab_create %}
    <div class="grid-x grid-padding-x">
        <div class="large-8 cell"><h1>Manage Tabs</h1></div>
        <div class="large-4 cell text-right">
            <a data-open="tabformModal" class="button">Add Tab</a>
        </div>

        {% for tab in tab_list %}
            {% include "workspace/modals/tab_form.html" with modalID=tab.reveal form=tab.form form_url=tab.get_update_url %}

        {% endfor %}

        <div class="large-12 cell">
            <div class="tab-header form_item">
            <div class="grid-x">
            <div class="large-2 cell">
                Icon
            </div>
            <div class="large-10 cell">
                Name
            </div>
        </div>
        </div>

        <ul class="tab-section">
            {% if not tab_list %}
                <li>
                    <div class="large-12 cell text-center no-results">No results found.</div>
                </li>
            {% endif %}
            {% for tab in tab_list %}
                <li>
                    <a data-open="{{ tab.reveal }}" class="tab-name grid-x">
                        <div class="large-2 cell"><i class="{{ tab.icon }}"></i></div>
                        <div class="large-10 cell">{{ tab.name }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="large-12 cell">
            <br>

        </div>
    </div>
{% endblock %}
{% block js %}

    <script src="/static/js/fontawesome-iconpicker.min.js"></script>
    <script>
        $('#id_icon').iconpicker();
        icon_init($('#tabformModal'));
    </script>
{% for tab in tab_list %}
<script>
icon_init($('#{{ tab.reveal }}'));

</script>
{% endfor %}
{% endblock js %}

