{% extends 'base.html' %}
{% load humanize_custom %}
{% block breadcrumb %}
<li><a href="{% url "workspace:tab_list" %}">Workspace</a></li>
{% endblock breadcrumb %}
{% block content %}

    <div class="grid-x grid-padding-x">
        <div class="large-8 cell"><h1>Workspace</h1></div>
        <div class="large-4 cell text-right"><a href="{% url "workspace:tab_manage" %}" class="button">Manage Tabs</a></div>
    </div>

            {% if not tab_list %}
                <div class="grid-x grid-padding-x grid-padding-y">
                <div class="large-6 cell">
                        <div class="box_thread grid-x">
                            <div class="large-3 cell">
                                <i class="icon_lead fas fa-exclamation"></i>
                            </div>
                            <div class="large-6 cell">
                                <h4 class="box_thread_lead">No results found</h4>
                                <p>No tabs found.</p>
                            </div>

                        </div>
                </div>
            </div>
            {% endif %}
            <div class="grid-x grid-padding-x grid-padding-y">
                {% for tab in tab_list %}
                    <div class="large-6 cell">
                        <a href="{{ tab.get_absolute_url }}">
                            <div class="box_thread grid-x">
                                <div class="large-3 cell">
                                    <i class="icon_lead {% if tab.icon %}{{ tab.icon }}{% else %}fa fa-laptop{% endif %}"></i>
                                </div>
                                <div class="large-6 cell">
                                    <h4 class="box_thread_lead">{{ tab.name|title }} </h4>
                                    <p class="thread_update">{% if tab.last_activity %}Latest activity {{ tab.last_activity.datetime|naturaltime_recent_only }}{% else %}No Recent Activity{% endif %}</p>
                                </div>
                                <div class="large-3 cell thread_msgs">
                                    <h5><i class="fas fa-copy"></i> {{ tab.thread_set.all.count }}
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
