{% extends "base.html" %}
{% load humanize %}
{% load humanize_custom %}
{% block breadcrumb %}
<li><a href="{% url "workspace:tab_list" %}">Workspace</a></li>
<li>{{ tab.name }}</li>
{% endblock breadcrumb %}
{% block content %}
{% url "workspace:thread_create" tab=tab.slug as thread_create %}
    {% include "workspace/modals/thread_form.html" with modalID="threadformModal" form=thread_form form_inline=thread_inline_form form_url=thread_create %}

    <div class="grid-x grid-padding-x">
        <div class="large-8 cell"><h1><small><i class="{% if tab.icon %}{{ tab.icon }}{% else %}fa fa-laptop{% endif %}"></i></small> {{ tab.name|title }}</h1></div>
        <div class="large-4 cell text-right">
            <a data-open="threadformModal" class="button">Add Thread</a>
        </div>

		<!--
		<div class="large-4 cell">
			<label for="">Search</label>
			<input type="text" placeholder="Thread name, file, people involved...">
		</div>
		<div class="large-3 cell">
			<label for="">Assigned</label>
			<select name="" id="">
				<option value="">---------</option>
			</select>
		</div>
		<div class="large-3 cell">
			<label for="">Published</label>
			<select name="" id="">
				<option value="">---------</option>
			</select>
		</div>
		<div class="large-2 cell">
			<input type="submit" class="large-12 cell search-button">
		</div>
		-->

        <div class="large-12 cell">
            <div class="tab-header form_item">
            <div class="grid-x">
            <div class="large-1 cell">
                {% if order_by == "status" %}
                    <a href="?order_by=status&order={% if order == "ascending" %}descending{% else %}ascending{% endif %}">
                        <i class="fa fa-circle nofa2 grey" aria-hidden="true"></i>
                        {% if order == "ascending" %}
                        <i class="fas fa-caret-down" aria-hidden="true"></i>
                        {% else %}
                        <i class="fas fa-caret-up" aria-hidden="true"></i>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="?order_by=status">
                        <i class="fa fa-circle nofa2 grey" aria-hidden="true"></i>
                    </a>
                {% endif %}


            </div>

            <div class="large-3 cell">
                    {% include "workspace/includes/ordering.html" with filter_given="name" filter_name="Thread Name" order_by=order_by order=order %}
                </a>
            </div>
            <div class="large-2 cell">
                {% include "workspace/includes/ordering.html" with filter_given="assigned" filter_name="Assigned To" order_by=order_by order=order %}
            </div>
            <div class="large-2 cell">
                {% include "workspace/includes/ordering.html" with filter_given="replies" filter_name="Replies" order_by=order_by order=order %}
            </div>
            <div class="large-2 cell">
                {% include "workspace/includes/ordering.html" with filter_given="published" filter_name="Published" order_by=order_by order=order %}
            </div>
            <div class="large-2 cell">
                {% include "workspace/includes/ordering.html" with filter_given="last_updated" filter_name="Last Updated" order_by=order_by order=order %}
            </div>
        </div>
        </div>

        <ul class="tab-section">
            {% if not thread_list %}
                <li>
                    <div class="large-12 cell text-center no-results">No results found.</div>
                </li>
            {% endif %}
            {% for thread in thread_list %}
                <li>
                    <a href="{% url "workspace:thread_detail" tab.slug thread.slug %}" class="tab-name grid-x">
                        <div class="large-1 cell"><i class="fa fa-circle {{ thread.status.css_class_color }}" aria-hidden="true"></i></div>
                        <div class="large-3 cell">{{ thread.title }}</div>
                        <div class="large-2 cell">{% if thread.assigned == user %}{{ thread.assigned.get_full_name|truncatechars:18  }}{% else %} {{ thread.assigned.get_full_name|truncatechars:18  }}{% endif %}</div>
                        <div class="large-2 cell">{{ thread.replies.count }}</div>
                        <div class="large-2 cell">{{ thread.datetime|naturaltime_recent_only }}</div>
                        <div class="large-2 cell">{{ thread.last_updated|naturaltime_recent_only }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="large-12 cell">
            <br>
        {% include "workspace/includes/pagination.html" with reply_list=thread_list %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/semety_text.js"></script>
    <script src="/static/js/fontawesome-iconpicker.min.js"></script>
    <script>
        $('#id_icon').iconpicker();
        semetyText("#threadbox");
    </script>

{% endblock js %}
