{% extends "base.html" %}
{% block content %}
<h1>Delete {{ tab.name }}</h1>
<form method="POST" action="">
    {% csrf_token %}
    <span class="error">Are you sure you want to delete?</span>

    <br><br>
    <input type="submit" class="button fill error" value="Confirm Delete" />
</form>
{% endblock content %}
