{% extends 'base.html' %}
{% block js %}
    <script src="/static/js/semety_text.js"></script>
    <script>
         semetyText("#semetyText");
         semetyText("#threadbox");

        semetyText("#{{ thread.revealSemetyText }}");
    {% for reply in reply_list %}
        semetyText("#{{ reply.revealSemetyText }}");
    {% endfor %}
    </script>
{% endblock js %}
{% block breadcrumb %}
<li><a href="{% url "workspace:tab_list" %}">Workspace</a></li>
<li><a href="{% url "workspace:tab_detail" slug=thread.tab.slug %}">{{ thread.tab.name }}</a></li>
<li>{{ thread.title }}</li>
{% endblock breadcrumb %}
{% block content %}
{% url "workspace:thread_update" tab=thread.tab.slug slug=thread.slug as thread_update %}
{% url "workspace:thread_delete" tab=thread.tab.slug slug=thread.slug as thread_delete %}
{% include "workspace/modals/thread_form.html" with modalID="threadformModal" form=thread_form form_inline=thread_inline_form form_url=thread_update form_delete_url=thread_delete %}
    <div class="grid-x grid-padding-x">
		<div class="large-8 cell"><h1>{{ thread.title|title }}</h1></div>
		<div class="large-4 cell text-right"><a data-open="threadformModal" class="button button-edit">Edit Thread</a></div>
        <div class="large-12 cell">
            <div class="grid-x main-content">
                <div class="large-12 cell">
                    <div class="large-12 cell tab-header form_item workspace-tab-header"  style="border-top-color:{{ thread.status.color }}">
                        <div class="grid-x">
                            <div class="large-10 cell">
                                <i class="thread-icon fa fa-circle {{ thread.status.css_class_color }}" aria-hidden="true"></i>
                                {{ thread.status|title }}
                            </div>
                            <div class="large-2 cell text-right">Page {{ reply_list.number }} of {{ reply_list.paginator.num_pages }}</div>
                        </div>
                    </div>
                    <div class="grid-x border thread_list">
						{% if thread.user.pk == request.user.pk %}
						{% include "workspace/includes/message_left.html" with thread=thread %}
						{% else %}
						{% include "workspace/includes/message_right.html" with thread=thread %}
						{% endif %}
						{% for reply in reply_list %}
						{% if reply.user.pk == request.user.pk %}
							{% include "workspace/includes/message_left.html" with thread=reply %}
						{% else %}
							{% include "workspace/includes/message_right.html" with thread=reply %}
						{% endif %}
						{% endfor %}

                    <div class="cell medium-12 large-6 large-offset-3">
                        <br>
                        {% include "workspace/includes/reply_form.html" with semetyText="semetyText" %}
                    </div>
                    <div class="large-12 cell">
                    {% include "workspace/includes/pagination.html" %}
                    <br>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
