<div class="reveal" id="{{ modalID }}" data-reveal>
    <div class="moduleform">
        <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Client</h1>
        <form action="{{ form_url }}" id="tabform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="buttoncustom" id="addtab" type="submit" value="Save" name="">
        {% if client.get_delete_url %}
            <a class="button button-edit float-right" href="{{ client.get_delete_url }}"><i class="fa fa-trash" aria-hidden="true"></i> Delete Client</a>
        {% endif %}
    </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
