<div class="reveal" id="{{ modalID }}" data-reveal>
    <div class="moduleform">
        <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Memo</h1>
        <form action="{{ form_url }}" id="tabform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">{{ form.title.label }}</label>
        <p>{{ form.title }}</p>
        <label for="">{{ form.text.label }}</label>
        {% include "workspace/includes/wysiwyg.html" with value=form.text.value semetyText=semetyText %}
        <input type="submit" name="" class="button blue" value="Save">
        {% if memo.get_delete_url %}
            <a class="button button-edit float-right" href="{{ memo.get_delete_url }}"><i class="fa fa-trash" aria-hidden="true"></i> Delete Message</a>
        {% endif %}
    </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
