<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <title>"Username" wants to share "workspace" with you</title>
	<style>
		* {
			color: rgb(68, 68, 68);
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
		}
		.wrapper {
			margin: 10% auto;
			width: 50%;
		}
		.boxing {
			border: 1px solid #eaeaea;
			border-radius: 4px;
		}
		h1, h2 {
			padding: 0px 20px;
		}
		.field {
			max-width: 70%;
		}
		.button {
		    display: inline-block;
			text-align: center;
			line-height: 1;
			cursor: pointer;
			-webkit-appearance: none;
			transition: background-color 0.25s ease-out, color 0.25s ease-out;
			vertical-align: middle;
			border: 1px solid transparent;
			border-radius: 0;
			padding: 0.85em 1.5em;
			margin: 0 0 1rem 0;
			font-size: 0.9rem;
			background-color: #3161a5 !important;
			color: #FFF;
			border-radius: 2px;
			text-decoration: none;
			font-size: large;
			margin-bottom: 20px;
		}
		.icon {
			padding: 30px;
			width: 50px;
		}
	</style>
  </head>
  <body>

		<div class="boxing">
			<center>
				<img class="icon" src="http://imgur.com/NEfB3sk.png" />
				<h1>Hi {{ user }},</h1>
				<h2 class="field">{{ notification.text|safe }}</h2> <br/>
				<a href="{{ domain }}{{ notification.get_absolute_url }}" class="button">View Notification</a>
				<h3>Enjoy! From the Semety team</h3>
			</center>
		</div>
	</div>
  </body>
</html>
