@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html, body {
	height: auto;
	background: #fafafa;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
h1 span {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}
h4{
	color: rgba(0,0,0,0.54);
	font-weight: 300;
}
h5{
	color: rgba(0,0,0,0.54);
}
.wrapper{
	margin: auto;
	max-width: 1600px;
	background: #fff;
}
.header{
	padding: 20px 20px 30px 30px;
	border-bottom: 2px solid rgba(0,0,0,0.02);
}
.landing-logo{
	margin-top: 5px;
	max-height: 40px;
}
.nav-menu{
	margin-top: 20px;
	float: right;
}
.nav-menu li{
	font-size: large;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin-left: 20px;
	float: left;
	list-style: none;
}
.nav-menu li a{
	color: rgb(153, 153, 153);
}
.nav-menu li a:hover{
	color: #3161a5;
}
.nav-menu li:first-child {
	padding-right: 20px;
	border-right: 1px solid #eeeeee;
}
.nav-mobile{
	visibility: hidden;
}
.introduction{
	padding: 40px 0px 30px 30px;
}
.introduction-text{
	margin: 0px 60px 0px 60px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.button{
	font-weight: bold;
	color: #FFF;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 1em 1.4em;
    margin: 0 0 1rem 0;
    font-size: 1rem;
    background-color: #3161a5;
    border-radius: 2px;
}
.button:hover{
	color: #FFF;
	background-color: #1c4c91;
}
.white-button{
	background: #FFF;
	color: #3161a5;
}
.white-button:hover{
	background: #FFF !important;
	color: #3161a5 !important;
	opacity: 0.9;
}
.white-text{
	color: #FFF !important;
}
.grey .heading-text{
	padding-right: 220px;
}
.heading-text{
	padding: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.heading-image{
	width: 100%;
	margin: 70px 0px 50px 0px;
}
.heading-image img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.section{
	margin: auto;
	margin-top: 65px;
	text-align: center;
	max-width: 1200px;
	padding: 60px 0px 60px 0px;
}
.section-two{
	margin: auto;
	text-align: center;
	max-width: 1200px;
	padding: 60px 0px 60px 0px;
}
.grey{
	background: #eff3f5;
	display: block;
}
.semety-blue{
	background-color: #3161a5;
	display: block;
}
.semety-blue .heading-text{
	text-align: center;
	color: #FFF !important;
}
.footer{
	width: 100%;
	border-top: 2px solid rgba(0,0,0,0.02);
	
}
.footer-menu {
	list-style-type: none;
}
.footer-menu li {
	float: left;
	padding: 20px;
}
.footer-menu li a {
	color: #999;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.footer-menu li a:hover {
	color: #333;
}
.footer-menu-text {
    float: right;
    list-style-type: none;
    font-weight: 300;
    color: #a8abad;
    margin-top: 20px;
	margin-right: 30px;
}
@media only screen and (max-width: 1050px) {
	ul {
		margin: 0px !important;
	}
	.nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3161a5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
	}
	.nav-menu li{
		width: 100%;
		margin-left: 0px !important;
	}
	.nav-menu li a{
		color: #FFF !important;
	}
	.nav-menu a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		display: block;
		transition: 0.3s;
	}
	.nav-menu li a:hover{
		opacity: 0.7;
	}
	.nav-menu .closebtn {
		color: #FFF;
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	.nav-mobile{
		visibility: visible !important;
	}
	.nav-mobile-open{
		margin-top: 5px;
		float: right;
	}
	.introduction-text{
		margin-left: 70px;
	}
	.heading-image{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 600px) {
	.introduction-text{
		margin-left: 0px;
	}
	.grey .heading-text{
		padding: 30px !important;
	}
	.footer-menu li{
		text-align: center;
		width: 100%;
	}
}

/* LEGAL */
.legal_display {
	margin-top: 40px;
	margin-bottom: 60px;
}
.side-nav {
	font-size: large;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	list-style-type: none;
	margin-bottom: 30px !important;
}
.side-nav li a{
	color: #3161a5;
}
.side-nav li a:hover{
	text-decoration: underline;
}
.legal_information_display {
	background: #eff3f5;
	padding: 20px;
}
.legal_information_display h4{
	color: rgb(10, 10, 10);
	font-weight: 800;
	font-family: 'Source Sans Pro', sans-serif;
}
.legal_information_display p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: large;
}