/* includes */
@import url('../css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


/* headings */

body {
    background: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

b {
    font-weight: 600 !important;
}

h1 {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}

h6 {
    margin: 0;
    color: #666;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.button {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #333333 !important;
    border-radius: 2px;
}
.button:hover {
	color: #FFF;
	background: #000;
}
.button:active, .button:focus {
	color: #FFF;
}
.button.blue {
    background-color: #3963a5 !important;
    border-color: #3963a5 !important;
    color:#FFF;
}
.buttoncustom{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	cursor: pointer;
}
.buttoncustom:hover{
	background: #284676;
}
.button-edit {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #a2a2a2 !important;
}
.button-edit:hover{
	background: #878787 !important;
}

.button-edit i {
    margin-right: 5px;
}

.search-button {
    font-size: 12pt !important;
    margin-top: 25px;
    padding: 11px;
}

.nopad {
    padding: 0 !important;
}

/* modals */

.reveal {
    border-radius: 4px;
    border: 0;
    margin-top: 34px;
}

.moduleform {

    padding: 20px;
}

/* notifications */
.notification-badge {
    position: relative;
}
.notification-badge:after {
    content:'';
    position: absolute;
    top: -3px;
    background: red;
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 50%;
    right: -5px;
    font-size: 6pt;
}

.notifications {
    position: absolute;
    top: 52px;
    right: 55px;
    width: 450px;
    background: #FFF;
    border:1px solid #d5dcec;
    border-top: 0;
    max-height: 600px;
    text-align: left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 99;
}

.notification_list_container {
    background: #FFF;
    border: 1px solid #d5dcec;
    border-top: 0;
}

.notification_list_header {
    border-bottom: 0 !important;
}



.notification_list_header div {
    padding: 0  ;
}

.notifications.open {
    display: block;
}

.notifications.open:after {
    bottom: 100%;
    right: 70px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 8px;
    margin-left: -8px;
}

.notifications .see-all {
    text-align: center;
    display: block;
    width: 100%;
    color: #333 !important;
    font-weight: 400;
    padding: 5px;
    border-top:1px solid #d5dcec;
}


.notifications .mark-as-read{
    font-size: 10pt;
    font-weight: bold;
    color: #3161a5;
}


.grid-x.top-section {
    padding: 10px 15px;
}

ul.notification_list li.no-notifications {
    text-align: center !important;
    display: block;
    padding: 25px 0;
    background: #eee;
}

ul.notification_list {
    border-top: 1px solid #d5dcec;
    padding: 0;
    margin: 0;
    width: 100%;

}

.notifications ul {
    overflow-y: scroll;
    max-height: 400px;
}

ul.notification_list li {
    list-style: none;
    text-align: left;

}

ul.notification_list li a {
    color: #000;
    padding: 10px;
    font-size:11pt;
    border-bottom:1px solid #d5dcec;
}

ul.notification_list li:last-child a {
    border-bottom: 0;
}

ul.notification_list li a:hover {
      background: #f9f9f9;
}

ul.notification_list li a.unread:hover {
    background: #e5eaf1;
}

ul.notification_list li a img {
    border-radius: 50%;
    background: #FFF;
    margin-top: 0px;
}

ul.notification_list li a span {
    display: block;
}
ul.notification_list li a.unread {
    background: #edf2fa;
}

ul.notification_list li a i {
    margin-left: 0;
    margin-right: 5px;
}





/* forms */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select {
    border: 1px solid #d5dcec;
    font-weight: 500;
    box-shadow: none;
    border-radius: 2px;
    height: initial !important;
    border-radius: 4px;
}

[type='submit'] {
    background-color: #3963a5;
    border-color: #3963a5;
    color:#FFF;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.56rem 1.375rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.1875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* navigation */

.nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    margin-left: 0px;
    list-style: none;
}

.menu-title {
    padding: 18px 20px;
    padding-bottom: 10px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 10px;
    text-transform: uppercase;
    color: #98a6ad;
    font-family: 'Nunito Sans', sans-serif;
}

.nav li a {
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 14px;
}
.nav li a.active {
    background: #3161a5;
    color: #FFF !important;
}
.nav li a:hover {
    color: #FFF !important;
}
.nav li img {
    height: 32px !important;

}
.nav li a.logo {
    padding: 10px 0 !important;
    text-align: center;
    padding: 20px 0;
    background: #3964a5;
}
.nav li a {
    color: rgb(153, 153, 153) !important;
    width: 100%;
    display: block;
    padding: 7px 0;
    padding-left: 20px;
}

.nav li a i {
    margin-right: 10px;
}
.nav .bottom{
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
	width: 100%;
}

/* main wrapper */

.wrapper {
    height: 100vh;
    max-height: 100%;
    overflow-y: scroll;
    padding-left: 200px;
}

.wrapper-content {
    padding: 34px;
    padding-bottom: 20px;
}

/* topbar */

.topbar {
    width:100%;
    background: #284676;
    padding: 13.5px 40px;
}

.topbar a i {
    margin-left: 10px;
}

.topbar a {
    font-size: 16px;
    color: #FFF;
}

.breadcrumbs {
    margin:0;
}

.breadcrumbs li {
    color: #fff !important;
    font-size: 16px;
    text-transform: capitalize;
}

.breadcrumbs li {
     display: inline-block;
}

/* workspace files */

ul.message_file {
    margin: 0;
}

ul.message_file li {
    list-style: none;
}

ul.message_file li a {
    /* border: 1px solid #ddd; */
    padding: 20px;
    background: #f1f0f0;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
    font-size: 9pt;
    color: #333;
}

ul.message_file li a:hover {
    background:#e6e3e3;
}

/* workspace */

.pagination {
    margin-bottom: 0;
}

.pagination-previous {
    text-align: right;
}
.pagination-next {
    text-align: left;
}


.pagination-previous, .pagination-next {
    width: 100px;
    margin: 0;
    padding: 0 10px !important;
}
.pagination .current {
    background: #333333 !important;
    border-radius: 2px;
    margin: 0;
    padding: 2px 9px;
    text-align: center;
}
.box_thread .large-3.cell {
    text-align: center;
}
.box_thread {
    padding: 35px 0;
    background: rgb(245, 245, 245);
    border-radius: 5px;
    transition: .3s;
    color: #333 !important;
}
.box_thread:hover {
    background: rgb(234, 234, 234);
}

.thread_msgs {
    /* margin-top: 45px; */
    font-size: 22px;
    text-align: center;
    padding: 17px 0px;
}
.thread_msgs a{
    font-weight: 300;
    color: #d3d3d3 !important;
}
.thread_msgs h5 {
    color: #d3d3d3 !important;
    margin: 0;
}

.icon_lead {
    color: rgb(53, 65, 104);
    font-weight: 300;
    font-size: 46px;
    padding: 8px 0px;
    text-align: center;
}

.message_date{
    overflow: hidden;
    color: #a8abad;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    display: block;
    width: 100%;
    position: relative;
    padding: 10px;
}
.message_date span {
    background: #fbfbfb;
    color:#a8abad;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    font-weight: 400;
}
.message_date:before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

/* tables  */

.tab-header {
    width: 100%;
    background: #ffffff;
    border: 1px solid #d5dcec;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
    display: block;
    font-weight: 600;
    color: #223C61;
}
.workspace-tab-header{
    color: #333;
	border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 4px !important;
    position: relative;
}

.workspace-tab-header:before {
    content: '';
    height: 100%;
    width: 1px;
    top: 0;
    left: 0px;
    box-shadow: 1px 0 0px 0 inset #ddd;
    position: absolute;
}

.workspace-tab-header:after {
    content: '';
    height: 100%;
    width: 1px;
    top: 0;
    right: 0px;
    box-shadow: 1px 0 0px 0 inset #ddd;
    position: absolute;
}

.tab-header a {
    color: #000;
}

.tab-header i {
    margin-right: 5px;
    font-size: 15px !important;
}

.tab-section {
    margin:0;
}
.tab-section > li > a:hover {
    color:rgb(49, 97, 165) !important;
}

.tab-section > li > p {
    width: 100%;
    border-left: 1px solid #ddd;
    background: #FFF;
    border-right: 1px solid #ddd;
    color: #000;
    padding: 14px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.tab-section > li > a {
    list-style: none;
    width:100%;
    border-left: 1px solid #ddd;
    background: #FFF;
    border-right: 1px solid #ddd;
    color: #000;
    padding: 14px 20px;
    border-bottom: 1px solid #ddd;
}

.tab-section li {
    list-style: none;
}

.tab-section > li:nth-child(even) > a {
    background: #f4f4f4 !important;
}
.form_item {
    padding: 8px 20px;
}

.no-results {
    padding: 18px 0;
    background: #FFF;
    border: 1px solid #ddd;
    border-top: 0;
}

/* Content area */

.tab-content {
    margin: 0;
    padding: 8px 20px;
    background: #FFF;
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 20px;
}

/* Thread status radio buttons */
.radio-buttons input[type="radio"]{
    display: none;
}
.radio-buttons input[type="radio"]+label {
    margin-left: 0;
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.radio-buttons input[type="radio"]+label::before{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px;
}



/* Thread detail reply box */

.tool-tabs-ul {
    margin: 0;
    padding: 8px 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #d5dcec;
    text-align: left;
    background: #FFF;
}

.add-link-overlay.hidden {
    max-height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: #d5d5d5;
    padding: 0px !important;
    border: 0 !important;
}

.hidden {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.add-link-overlay {
    content: '';
    background: #58585880;
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.45) !important;
    z-index:99;
}


.add-link {
    position: absolute;
    left: 0;
    background: #fff;
    width: 30%;
    left: 35%;
    /* height: 215px; */
    top: 27%;
    border: none;
    z-index:909;
    padding: 20px;
    border-radius: 4px;
}

.add-link a {
    margin:0;
}


.add-link.no-border-radius a {
    margin: 0;
}

.no-border-radius {
  border-radius: 0 !important;

}

.tool-tabs-ul > li {
    list-style: none;
    display: inline-block;

}
.tool-tabs-ul > li > a {
    padding: 10px 20px;
    color: grey;
}

.replytextarea {
    margin-bottom: 20px;
    min-height: 150px;
}

.reveal {
    overflow: visible;
}

.replytextarea.open {
    position: fixed;
    z-index: 99;
    top: 4%;
    left: 10%;
    width: 80%;
    height: 88%;
}

.replytextarea.open:after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(10, 10, 10, 0.45);
}

.replytextarea.open > div {
    border: none !important;
    padding: 20px;
}

.replytextarea.open > .tool-tabs-ul {
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

.replytextarea > div {
    border: 1px solid #d5dcec;
    background-color: #fefefe;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    outline:0;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    border-top: 0;
    width: 100%;
    text-align: left;
    height: 100%;
}

.dropdown-caret {
	margin-right: 7px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #b5bcc2;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.dropdown-caret {
    margin-top: 11px;
    margin-left: 8px;
}

.dropdown-tool {
    font-weight: 600;
    border-right: 1px solid #d5dcec;
    padding: 10px 0 10px 15px!important;
}
.tool-tabs-ul li a.full-screen {
    border-left: 1px solid #d5dcec;
    padding: 10px 13px !important;
}
.relative {
    position: relative;
}

ul.dropdown-options {
    position: absolute;
    top: 33px;
    left: 18px;
    background: #eee;
    margin: 0;
    list-style: none;
    width: 230px;
    display: none;
    border: 1px solid#ddd;
    z-index: 99;
}
ul.dropdown-options.show {
    display: block !important;
}


ul.dropdown-options li a {
    width: 100%;
    display: block;
    color: #333;
    padding: 4px 10px;
}

ul.dropdown-options li a:hover {
    background: #ddd;
}

.tool-tabs h1 {
    margin-bottom: 0;
    font-size: 32pt;
}

.tool-tabs h2 {
    margin: 0;
    font-size: 26pt;
}

/* threads */

.profile_picture {
    border-radius: 50%;
    background: #FFF;
    margin-bottom: 14px;
    margin-top: 40px;
	width: 100px;
	height: 100px;
}

.message {
    background: rgb(241, 240, 240);
    border: 0px solid #eee;
    width: 100%;
    border-radius: 5px;
    min-height: 150px;
    padding: 10px 20px;
    position: relative;
    word-break: break-word;
}

.message > p {
      white-space: pre-wrap !important;
}

.message > h1, .message > h2, .message > h3, .message > h4, .message > h5, .message > h6,
.editable > h1, .editable > h2, .editable > h3, .editable > h4, .editable > h5, .editable > h6
 {
    margin-bottom:10px !important;
    font-weight:400;
    color:#000;
    white-space: pre-wrap;
    word-break: keep-all; /*this stops the word breaking*/
}
.message > h1, .message > h2, .message > h3, .message > h4, .message > h5, .message > h6 {
    color:#FFF !important;
}

.message > h1, .editable > h1 {
    font-size:36pt;
}

.message > h2, .editable > h2 {
    font-size:28pt;
}

.message > h3, .editable > h3 {
    font-size:24pt;
}

.message > h4, .editable > h4 {
    font-size:20pt;
}

.message > h5, .editable > h5 {
    font-size:18pt;
}
.message > h6, .editable > h6 {
    font-size:16pt;
}

.thread_list {
    border: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.message-container {
    width:80%;
}

.message-reveal {
    outline: 0;
    cursor: pointer;
}

.message-container.left {
    margin-left: 3%;
    float: right;
}

.message.left {
    background: rgb(49, 97, 165) !important;
    color: #FFF !important;

}

.message.right:after {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: rgb(241, 240, 240);
    border-left: 0;
    margin-top: -10px;
    margin-left: -10px;
}

.message.left:after {
    content: '';
    position: absolute;
    right: 0;
    top: 30%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: rgb(49, 97, 165);
    border-right: 0;
    margin-top: -10px;
    margin-right: -10px;
}

.thread-icon {
    margin-right: 20px;
}

/* Statuses */

.builtin-status-active-color {
	color: #2ecc71;
}
.builtin-status-pending-color {
	color: #e67e22;
}
.builtin-status-closed-color {
	color: #e74c3c;
}
.builtin-status-neutral-color {
	color: #34495e;
}

/* clients */

.clients_top_margin{
		margin-top: 5px;
}
.company_detail_logo{
	margin: 40px 10px 40px 10px;
}

/* settings */

.settings{
	margin-bottom: 30px;
}
.profilesettings{
	background: rgb(245, 245, 245);
	margin: 0px 40px 0px 20px;
	padding: 25px 20px;
}
.profilesettings h5{
	font-weight: bold;
}
.no-logo {
	margin-top: 40px;
	max-width: 150px;
}

/* icon picker */

.iconpicker-item {
    border-right: 1px solid #ddd;
    width: 10%;
    height: 52px;
    display: inline-block;
    text-align: center;
    font-size: 18pt;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    color: #333;
    background: #fff;
}

.iconpicker {
    height: 207px;
    overflow-y: scroll;
    /* border: 1px solid #ddd; */
    border: 1px solid #ededed;
    border-right: 0;
    background: #e8e8e8;
}

.iconpicker-popover {
    display: block !important;
    border-radius: 4px;
    top: 0 !important;
}

.iconpicker-selected {
    background:#1779ba !important;
    color: #FFF !important;
}

/* network */

#id_access {
    margin:0;
}

#id_access li {
    list-style: none;
}

