<div class="reveal" id="{{ modalID }}" data-reveal>
    <div class="moduleform">
        <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} User</h1>
        <form action="{{ form_url }}" id="tabform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Full Name</label>
        <input type="text" value="{{ companyuser.user }}" readonly>
        <label for="">Email</label>
        <input type="text" value="{{ companyuser.user.email }}" readonly>
        {{ form.as_p }}
        <input class="buttoncustom" id="addtab" type="submit" value="Save" name="">
    </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
