{% extends 'base.html' %}
{% block anon %}
	<div class="grid-x grid-padding-x">
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>Behind Semety</h2>
				<h5>With a team based in both Cambridge, United Kingdom and Drammen, Norway the Semety platform is a commercial intranet that serves as a locked platform by invite only. It was built with the intent of increasing efficiency and quality when working alone or in a team. With the sections Workspace, Clients and Network you will have great freedom to customize your own unique way of working precisely as you want.</h5>
			</div>
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>What makes Semety different?</h2>
				<h5><strong>THIS IS GOING TO BE REWRITTEN JUST SAYING!</strong>
					We like to think that Semety is revolutionary in the sense of simplicity. There’s no clunky solutions to the platform, 
					which also makes it easy to both learn and use. With the mission to help people carry out various tasks through their workspace, 
					by simplifying and redefining team collaboration. For too long have we been looking for a good platform where we can communicate 
					efficiently, without any consideration to timezone differences. A place where we can sort all our team members and give them tasks 
					properly. And that's precisely why we choose to build Semety! We will continue to push out great functions and ideas that we think people really deserve.</h5>
			</div>
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>Using Semety is easy</h2>
				<h5>All you need for Semety is a computer, laptop or tablet, internet access and a subscription. We are currently in the making of an app for both 
				Android and iOS phones. Interested in what kind of subscription that fits you? <a href="/subscription/">see subscriptions.</a></h5>
			</div>
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>Who can use Semety?</h2>
				<h5>
				Everyone can join Semety as the platform was designed to be very versatile. With our tools you will have the opportunity to create a structured 
				workspace and client list for your team members. For example, you could create tabs in the workspace that are specific to the areas you work within. 
				From there, you can let team members both publish and reply to threads that are related to the area. Everything from the icons of the tabs to the status 
				of the thread can also be customized.<br/>

				If you are uncertain on how you can use Semety for your business, we encourage you to go to our <a href="/explore/">exploration page</a> and take a look at a few examples. 
				</h5>
			</div>
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>You can work with your files through Semety</h2>
				<h5>
				We designed Semety to be able to share the files either you or your team uploads. Within the workspace you will have the possibility to select and add files that you 
				want to share with your team members. There’s no limit to what kind of file extensions you can share. However, you will need a <a href="/subscription/">subscription</a> for your prefered amount of data space.
				</h5>
			</div>
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>You choose who has access</h2>
				<h5>
				When you invite someone to your team, you will be able to select which tabs the person has access to. You could also go back to the Network page and 
				select the person you display to check if the person has access to the right tabs.<br/>
				For more information about this, we suggest reading our Semety Network tutorial. *Hyperlink to Semety network tutorial here*
				</h5>
			</div>
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>Your data is protected!</h2>
				<h5>
				We will do whatever we can to protect your data with modern encryptions. However, we cannot ensure you that your data 
				cannot be compromised. You can read more about this under our <a href="/legal/">legal</a> section. </h5>
			</div>
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>Deleting a Semety account</h2>
				<h5>
				If you decide to delete your Semety account all your data will be deleted within 30 days from when the time you decided to delete your account. 
				You will also be automatically logged out. If you change your mind, you could always log back into your account within 30 days to reactivate your account; 
				this will reverse the process of deletion.
				</h5>
			</div>
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>We will never sell your data</h2>
				<h5>
				We will never sell any data, period. 
				</h5>
			</div>
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>No social media or third party applications</h2>
				<h5>
				We will never accept third-party applications or social media because of both security and privacy reasons. We don’t see any reason for 
				why anyone would store their private data on the same platform they have connected to social media.
				</h5>
			</div>
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell">
			image here
		</div>
		<div class="large-6 cell grey">
			<div class="heading-text">
				<h2>No API's from Semety</h2>
				<h5>
				We won’t develop any API that will be shared with the public. Semety will be always be a locked platform.
				</h5>
			</div>
		</div>
	</div>
{% endblock %}

