{% extends 'base.html' %}
{% block js %}
    <script src="/static/js/dashboard.js"></script>
{% endblock js %}
{% block content %}

{% if user.is_authenticated %}
{% if invite_code %}
You've been invited to a team <a href="/invite/{{ invite_code}}/">join now</a>
{% endif %}


{% endif %}
{% block anon %}
	<div class="introduction">
		<div class="grid-x">
			<div class="large-5 cell">
				<img src="/static/img/hero.svg"/>
			</div>
			<div class="large-7 cell">
				<div class="introduction-text">
					<h1><span>semety</span> Workspace</h1>
					<h4>Streamline your organization with flexible tools such as our online workspace, client list and networks. Semety is a commercial software intranet that serves as a locked platform for you and your team.</h4><br/>
					<a href="/register/" class="button">Try Semety for free</a>
				</div>
			</div>
		</div>
	</div>
	<div class="grey">
		<div class="grid-x">
			<div class="large-7 cell">
				<div class="heading-text">
					<h2>Easy and Intuitive</h2>
					<h4>Keep track of your work through the workspace. Assign participants to tasks and communicate together. Be on time with your schedule and work close to your team, all the time and from anywhere. </h4>
				</div>
			</div>
			<div class="large-5 cell">
				<div class="heading-image">
					<img src="/static/img/hero-2.svg"/>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="large-5 cell">
			<div class="heading-image">
				<img src="/static/img/hero-3.svg"/>
			</div>
		</div>
		<div class="large-7 cell">
			<div class="heading-text">
				<h2>Keep track of contacts</h2>
				<h4>Expand your client list, add memos to spesific clients and work out from them. You will have a good view of how you can get the most out of your client list at Semety.</h4>
			</div>
		</div>
	</div>
	<div class="grey">
		<div class="grid-x">
			<div class="large-7 cell">
				<div class="heading-text">
					<h2>Locked and secure</h2>                
					<h4>Semety is a locked platform that uses encryptions to keep your data secure. No social media or third-party applications, it’s just you and your team. Also, we will never sell ANY data, period.</h4>
				</div>
			</div>
			<div class="large-5 cell">
				<div class="heading-image">
					<img src="/static/img/hero-4.svg"/>
				</div>
			</div>
		</div>
	</div>
	<div class="semety-blue">
		<div class="grid-x">
			<div class="large-12 cell">
				<div class="heading-text">
					<h2>Want to try it yourself?</h2>
					<h4 class="white-text">Try either our explore page to see examples or instantly register for free.</h4><br/>
					<a href="/register/" class="button white-button">Explore</a>
					<a href="/register/" class="button white-button">Register Now</a>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="grid-x">
		<div class="large-12 cell">
			<div class="heading-text">
				<h2>Register today!</h2>
				<h5>Join more than 13,578 people by simply registering for free</h5>
			</div>
		</div>
	</div>
	-->

{% endblock anon %}
{% block joyride %}{% endblock %}
{% endblock %}
