{% extends 'site\homepage.html' %}
{% block joyride %}

<!-- write your complex welcome joyride stuff here -->
    <ol id="joyRideTipContent">

      <li data-button="Next">
        <h2>Welcome to semety!</h2>
        <p>Let's help you to know our website better, want to take the joyride?</p>
      </li>
</ol>

{% endblock %}

{% block js %}
	<script src="/static/js/jquery.joyride-2.1.js"></script>
    <script>
      $(window).load(function() {
        $('#joyRideTipContent').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        modal:true,
        expose: true
        });
      });
    </script>
{% endblock %}